/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: 'Arial', sans-serif;
}

/* Attendance Per Person Container */
.attendance-per-person-container {
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px; /* Push down below navbar */
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-width: 100%;
  min-height: 100vh;
  margin-top: 60px;
  max-height: calc(100vh - 110px);
}

/* Header Styling */
h1 {
  color: #333333;
  font-size: 28px;
  text-align: center; /* Add space between title and table */
}

/* User Select */
.user-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.user-select:focus {
  border-color: #0056b3;
  outline: none;
}

/* Table Container */
.attendance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}

.attendance-table th,
.attendance-table td {
  padding: 12px 10px;
  border: 1px solid #dfe3e8;
  text-align: center;
  word-wrap: break-word;
}

.attendance-table th {
  background-color: #007bff;
  color: white;
  font-size: 16px;
}

.attendance-table td {
  background-color: #f9f9f9;
}

/* Button Styling */
.edit-btn,
.delete-btn {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.edit-btn i,
.delete-btn i {
  font-size: 14px;
}

.save-btn i {
  font-size: 22px;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #0056b3;  /* Hover effect */
}

.save-btn:hover {
  background-color: #28a745;
}

.delete-btn {
  background-color: #ff4d4d;  /* Red background for delete */
}

.delete-btn:hover {
  background-color: #e60000;  /* Darker red when hovered */
}

/* Button Wrapper */
.button-wrapper {
  padding: 0px;
  display: flex;
  flex-direction: row; /* Layout buttons in a row */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Vertically align the buttons */
  gap: 10px; /* Add spacing between the buttons */
}

/* Responsive Design */


