<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %} 354 Attendance {% endblock %} </title>

    <style>
        .dimScreen
        {
            position:fixed;
            padding:0;
            margin:0;

            top:56px;
            left:0;
            right:0;
            bottom:10px;
            overflow-y: scroll;

            width: 100%;
            height: 100%;
            background:#B9BC88;
        }
        .main_container{
          margin-top: 56px;
          bottom:10px;
        }
    </style>
    </head>

<body>
    <div >
        <nav class="navbar text-bg-warning p-2 fixed-top" >
              <a class="navbar-brand" href="#" onclick="location.href = '/home';" >
              <img src="/static/img.png" class="img-fluid" class="rounded float-start" alt="Logo" width="35" height="30" class="d-inline-block align-text-top">
              </a>
            <a class="navbar-brand"  href="#"  onclick="location.href = '/home';" >G-House Pirates 354 </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav"  style="text-align:right; margin-right:2em" >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="Home" href="#home" onclick="location.href = '/home';">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#status" onclick="location.href = '/status';">Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#register" onclick="location.href = '/register';">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#admin" onclick="location.href = '/admin';">Admin</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    <div class="dimScreen">
        <div class="content position-absolute top-50 start-50 translate-middle">

           {% block content %}

            {% endblock %}
        </div>



    </div>
    <div class="position-relative text-align-center main_container">
        {% block registration %}

        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>