<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - 354_Attendance </title>
    <style>
        nav a {

            background-color: #C2C83E;
            text-align: center;
            color: #000000;
            font-size: 3em;
            text-decoration: none;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="text-align:center; margin: auto; color: #000000;">
        <nav>

            <a href="{{ url_for('home')}}"> Home </a>
        </nav>
        <hr>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>