{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

		<div class="text-center">
		<h1> Select action </h1>
		</div>


				<div class="row align-items-center">

					<div class="col-sm-6 text-center">
						<button class="btn btn-success btn-lg btn-block p-5" onclick="location.href = '/sign_in';">Sign In</button>
					</div>

					<div class="col-sm-6 text-center">
						<button class="btn btn-danger btn-lg btn-block p-5" onclick="location.href = '/sign_out';">Sign Out</button>
					</div>

				</div>




				<div class="text-center" >
					<div class="row align-items-center mt-5">

						<div class="col-sm-6 text-center">
							<button class="btn btn-sm btn-danger btn-block p-4" onclick="location.href = '/status';">Get Status</button>
						</div>

						<div class="col-sm-6 text-center">
							<button class="btn btn-sm btn-warning btn-block p-4" onclick="location.href = '/get_info';">Get Info</button>
						</div>

					</div>
				</div>

</div>



{% endblock %}