{% extends 'base.html' %}

{% block content %}
          <style>
        .bottom-three {
           margin-bottom: 0.5cm;
        }
        </style>



        <div class="align-middle p-5 text-bg-primary" >
            <h1> Select action </h1>

            <div class="container-fluid">

		<div class="row">

			<!-- Left Button Column -->
			<div class="col-sm-6 text-center">
				<button class="btn btn-success btn-lg p-4" onclick="location.href = '/sign_in';">Sign In</button>
			</div>

			<!-- Right Button Column -->
			<div class="col-sm-6 text-center">
				<button class="btn btn-danger btn-lg p-4" onclick="location.href = '/sign_out';">Sign Out</button>
			</div>

		</div><!-- row -->

	</div><!-- container-fluid -->
<!--            <div class="row g-3 align-items-center">-->
<!--                <button type="button" class="btn btn-success" onclick="location.href = '/sign_in';">Sign In</button>-->
<!--            </div>-->
<!--            <p class="bottom-three"> </p>-->
<!--            <div class="row g-3 align-items-center">-->
<!--                <button type="button" class="btn btn-danger" onclick="location.href = '/sign_out';">Sign Out</button>-->
<!--            </div>-->
<!--            <p class="bottom-three"> </p>-->
<!--            <div class="row g-3 align-items-center">-->
<!--                <button type="button" class="btn btn-danger" onclick="location.href = '/status';">Get Status</button>-->
<!--            </div>-->
<!--            <p class="bottom-three"> </p>-->
<!--            <div class="row g-3 align-items-center">-->
<!--                <button type="button" class="btn btn-warning" onclick="location.href = '/get_info';">Get Info</button>-->
<!--            </div>-->



{% endblock %}