<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <div class="position-absolute top-50 start-50 translate-middle">

        {% if reader_id != " " %}
            <h1> User Id: {{ reader_id }}</h1>
            <h1> User Name: {{ reader_name }}</h1>
            <div class="row g-3 align-items-center">
                    <button type="button" class="btn btn-danger" onclick="location.href = '/home';">Done</button>
                </div>
        {% else %}
            <h2> {{ message }}</h2>

        {% endif%}

    </div>

</body>
</html>