{% extends 'base.html' %}

{% block content %}



    <div class="row g-3 align-items-center">
        <style>
      .bottom-three {
         margin-bottom: 0.5cm;
      }
      </style>
      <div class="text-center sticky-md-top ">
        <H1 class=""> Registration </H1>

        <p> Only a mentor can register new member. It will ask for their ID.</p>
    </div>
        <div  class=" position-absolute top-50 start-50 translate-middle">
>
        <div clas="container" class="d-flex justify-content-center">
          <div class="col-auto">
            <label for="fullname" class="form-control-lg" >Full Name :</label>
            <p class="bottom-three"> </p>
            <label for="role" class="form-control-lg" >Role :</label>
            <p class="bottom-three"> </p>
            <label for="email" class="form-control-lg" >Email Address :</label>
            <p class="bottom-three"> </p>
            <label for="phone" class="form-control-lg" >Phone Number :</label>
            <p class="bottom-three"> </p>
            <label for="emergency_1" class="form-control-lg" >Parent :</label>
            <p class="bottom-three"> </p>
            <label for="emergency_phone" class="form-control-lg" >Parent Number :</label>
          </div>
          <div class="col-auto">
            <input id="fullname" class="form-control form-control-lg" type="text" placeholder="Full Name">
            <p class="bottom-three"> </p>
            <select id = "role" class="form-select form-select-lg mb-3" >
              <option selected>select menu</option>
              <option value="mentor">Mentor</option>
              <option value="student">Student</option>
            </select>
            <p class="bottom-three"> </p>
            <input id="email" class="form-control form-control-lg" type="email" placeholder="name@example.com"  >
            <p class="bottom-three"> </p>
            <input id="phone" class="form-control form-control-lg" type="text" placeholder="000-000-0000"  >
            <p class="bottom-three"> </p>
            <input id="emergency_1" class="form-control form-control-lg" type="text6" placeholder="name"  >
            <p class="bottom-three"> </p>
            <input id="emergency_phone" class="form-control form-control-lg" type="text" placeholder="000-000-0000"  >
            <p class="bottom-three"> </p>
          </div>
          </div>
          <div clas="container" class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger ">Submit</button>
          </div>
        </div>
    </div>

{% endblock %}